html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

html {
    font-family: 'Iosevka Aile Web', sans-serif;
    font-weight: 200;
    font-size: 14pt;
    background-color: #282828;
    color: #ebdbb2;
    line-height: 1.5;
}

::selection {
    background-color: #a89984;
    color: inherit;
}

strong {
    font-weight: 400;
}

h1 {
    font-weight: inherit;
    font-size: 250%;
    padding: 0;
    margin: 0 0 1rem 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    color: #458588;
}

img {
    width: 256px;
    max-width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: inline-block;
    text-align: center;
}

.space-above {
    margin-top: 2rem;
}

.footer {
    color: #a89984;
    font-size: 80%;
    margin-top: 2rem;
}

.footer a {
    color: inherit;
}
